*

!.config/
!.config/.ansible-lint.yml
!.config/.shellcheckrc
!.config/.sops.yml
!.config/.typos.toml
!.config/requirements.yml
!.config/tasks.mise.toml

!.custom-containers/
!.custom-containers/import-libs.sh

!.github/
!.github/renovate.json
!.github/workflows/
!.github/workflows/build-containers.yml
!.github/workflows/code-hygiene.yml
!.github/workflows/containers-security.yml
!.github/workflows/dependency-review.yml

!.secrets/
!.secrets/bofzilla.dev.yml

!.editorconfig
!.gitignore
!.mise.toml
!pyproject.toml
!uv.lock

!domains/
!domains/bofzilla.dev
!domains/bofzilla.dev/vars/
!domains/bofzilla.dev/vars/purelymail.yml
!domains/bofzilla.dev/vars/cf/
!domains/bofzilla.dev/vars/cf/waf.yml
!domains/bofzilla.dev/vars/cf/purelymail.dns-records.yml
!domains/bofzilla.dev/cloudflare.playbook.yml
!domains/bofzilla.dev/purelymail.playbook.yml
