*

!.config/
!.config/.ansible-lint.yml
!.config/.shellcheckrc
!.config/.sops.yml
!.config/.typos.toml
!.config/inventory.yml
!.config/requirements.yml
!.config/tasks.mise.toml

!.custom-containers/
!.custom-containers/import-libs.sh

!.openwrt-base/
!.openwrt-base/build.sh
!.openwrt-base/*/
!.openwrt-base/*/preset.env
!.openwrt-base/*/files/
!.openwrt-base/*/files/**

!.github/
!.github/renovate.json
!.github/workflows/
!.github/workflows/build-openwrt.yml
!.github/workflows/build-containers.yml
!.github/workflows/code-hygiene.yml
!.github/workflows/containers-security.yml
!.github/workflows/dependency-review.yml

!.ssh-keys/
!.ssh-keys/*.pub

!.secrets/
!.secrets/bofzilla.dev.yml
!.secrets/devices/
!.secrets/devices/*.yml

!.editorconfig
!.gitignore
!.mise.toml
!pyproject.toml
!uv.lock

!devices/
!devices/*/
!devices/*/install.sh
!devices/*/openwrt.env
!devices/*/*.playbook.yml
!devices/*/tasks/
!devices/*/tasks/**
!devices/*/vars/
!devices/*/vars/**
!devices/*/files/
!devices/*/files/**

!domains/
!domains/bofzilla.dev
!domains/bofzilla.dev/vars/
!domains/bofzilla.dev/vars/purelymail.yml
!domains/bofzilla.dev/vars/cf/
!domains/bofzilla.dev/vars/cf/waf.yml
!domains/bofzilla.dev/vars/cf/purelymail.dns-records.yml
!domains/bofzilla.dev/cloudflare.playbook.yml
!domains/bofzilla.dev/purelymail.playbook.yml
